<!DOCTYPE html>

<html>
  <head>
    <link href="/style.css" rel="stylesheet" type="text/css">
    <title> CURRENCY CALCULOR </title>
  </head>
  <body>
    <h1>Currency Calculator</h1>

    <form action="/main/calc" method="post">
      <div>
        <input type="text" name="value" id="value" value = "<%= value === 0 ? 1 : value %>" class="form-control" autofocus/>
        <select name="currA" id="currA">
          <% currList.forEach(function(v){ %>
            <% if (v !== currA) {%>
              <option value= "<%= v %>" > <%= v %></option>
            <% } else { %>
              <option value= "<%= currA %>" selected="selected"><%= currA %></option>
            <% }}); %>
        </select>
        <b> = </b>
        <input type="text" name="result" id="result" border="0" value = "<%= result === 0 ? "" : result %>" disabled style="font-weight: bold;"/>
        <select name="currB" id="currB">
          <% currList.forEach(function(v){ %>
            <% if (v !== currB) {%>
              <option value= "<%= v %>" > <%= v %></option>
            <% } else { %>
              <option value= "<%= currB %>" selected="selected"><%= currB %></option>
            <% }}); %>
        </select>
      </div>
      <div>
        <label for="rate" disabled style="font-weight: bold;"> RATE: </label>
        <br>
        <input type="text" name="rate" id="rate" border="0" value = "<%= rate === 0 ? "" : rate %>" disabled style="font-weight: bold;"/>
      </div>
      <div>
        <input type="submit" value="CALCULATE" style="font-weight: bold;"/>
      </div>
    </form>

  </body>

  <footer>
    <h5>@ data received from api.fixer.io</h5>
  </footer>
</html>
